<h2>All Dinners</h2>

<% @list.each do |dinner| %>
  <div class="list_item">
    <h4>#<%= dinner.id %>: <%= dinner.main_source %></h4>
    <ul>
      <li><%= dinner.sauce %></li>
      <li><%= dinner.starch %></li>
      <li><%= dinner.veggie %></li>
    </ul>
    <form action="/dinners/<%= dinner.id %>">
      <input type="submit" value="See this dinner">
    </form>
  </div>
<% end %>