<h2>Create Dinners</h2>


<%= form_for @dinners, html: {class: "new_dinner_form"} do |f| %>
  <%= f.label "main_source" %>
  <%= f.text_field("main_source") %><br>
  
  <%= f.label "sauce" %>
  <%= f.text_field("sauce") %><br>
  
  <%= f.label "starch" %>
  <%= f.text_field("starch") %><br>
  
  <%= f.label "veggie" %>
  <%= f.text_field("veggie") %><br>
  
  <%= f.submit "Add This!"%>
<% end %>