<h2>New Dinner Saved!</h2>

<h4><%= @dinner.id %></h4>
<h4><%= @dinner.main_source %></h4>
<ul>
  <li><%= @dinner.sauce %></li>
  <li><%= @dinner.starch %></li>
  <li><%= @dinner.veggie %></li>
</ul>
