<h2>Dinner #<%= @dinner.id %></h2>

<h4><%= @dinner.main_source %></h4>
<ul>
  <li><%= @dinner.sauce %></li>
  <li><%= @dinner.starch %></li>
  <li><%= @dinner.veggie %></li>
</ul>
<form action="/dinners/<%= @dinner.id %>/edit">
  <input type="submit" value="Edit">
</form>
<form action="/dinners/<%= @dinner.id %>/destroy">
  <input type="submit" value="Destroy">
</form>